* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    width: 1200px;
    margin: auto;
}

.product {
    width: calc (1200px / 3 - 240px);
}

.product_img {
    position: relative;
    width: 100%;
}



.discount {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    background-color: red;
    color: white;
    padding: 0.4em;
    font-weight: bold;
}

.eco {
    position: absolute;
    bottom: 1.5em;
    left: 3.5em ;
    background-color: green;
    color: white;
    padding: 0.4em;
    font-weight: bold;
}

.heart {
    position: absolute;
    top: 0;
    left: 18.25em;
    background-color: white;
    padding: 0.5em;
    font-size: 2em;
}